.tech {
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #00094A;
    width: 539px;
  }

  &__up {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00094A;
  }

  &__list {
    @include list-unstyled;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
  }

  &__items~&__items {
    margin-left: 60px;
  }

  &__links {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;

    &--active {
      color: #06A39C;
      border-bottom: 3px solid #06A39C;
      padding-bottom: 24px;
    }

    &:hover {
      color: #06A39C;
      transition: .4s;
    }

    &:active {
      border-bottom: 3px solid #06A39C;
      padding-bottom: 24px;
    }
  }

  &__tlist {
    @include list-unstyled;
    display: flex;
    padding-top: 74px;
    padding-bottom: 20px;
    justify-content: center;
  }

  &__titems~&__titems {
    margin-left: 120px;
  }

  &__titems {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &--none{
      display: none;
    }
  }

  &__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }

  @include max(1100px) {
    &__tlist{
      margin-left: auto;
      margin-right: auto;
      flex-wrap:wrap;
      width: 450px;
      padding-top:0;
      padding-bottom: 0;
    }

    &__titems{
      width: 70px;
      padding-top: 74px;
      margin:0 30px !important;
      &--none{
        display: flex;
      }
      &--hide{
        display: none;
      }
    }
    &__titems ~ &__titems{
    margin: 0;
  }

    
  }

  @include max(930px) {
    &__items~&__items {
      margin-left: 30px;
    }
  }

  @include max(800px) {
    &__title {
      font-size: 40px;
      line-height: 40px;
      width: 450px;
    }
  }

  @include max(730px) {
    &__up {
      font-size: 14px;
      line-height: 17px;
    }

    &__title {
      font-size: 35px;
      line-height: 40px;
      width: 400px;
    }

    &__links {
      font-size: 14px;
      line-height: 17px;
    }

    &__list {
      justify-content: flex-start;
      margin-right: -30%;
    }
  }
@include max(500px){
  &__tlist{
    width: 300px;
  }
  &__titems{
  margin: 0 15px !important;
  }
}
  @include max(450px) {
    &__title {
      font-size: 30px;
      line-height: 37px;
      width: 324px;
    }
  }

  @include max(359px) {
    &__tlist{
      width: 270px;
    }
    &__titems{
    width: 60px;
    }
    &__up {
      font-size: 12px;
    }

    &__title {
      font-size: 25px;
      line-height: 32px;
      width: 270px;
    }
  }
}